check 5 網頁設定 LED 狀態.txt
[{"id":"53f80731.c7e808","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"9ecc149b.26dec8","type":"http in","z":"53f80731.c7e808","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":170,"y":240,"wires":[["75a4329.07c88cc","fc898b63.ffdfa8"]]},{"id":"75a4329.07c88cc","type":"function","z":"53f80731.c7e808","name":"set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["f55972cd.9d682"]]},{"id":"f55972cd.9d682","type":"rpi-gpio out","z":"53f80731.c7e808","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":480,"y":460,"wires":[]},{"id":"fc898b63.ffdfa8","type":"function","z":"53f80731.c7e808","name":"return status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["84873862.499c78","fa9363a5.0cf4c"]]},{"id":"84873862.499c78","type":"http response","z":"53f80731.c7e808","name":"","statusCode":"","headers":{},"x":750,"y":280,"wires":[]},{"id":"fa9363a5.0cf4c","type":"debug","z":"53f80731.c7e808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":440,"wires":[]},{"id":"520b5005.b71be","type":"function","z":"53f80731.c7e808","name":"clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":560,"wires":[["f55972cd.9d682"]]},{"id":"afc5b40d.fa46f8","type":"function","z":"53f80731.c7e808","name":"Return Status","func":"msg.payload =\"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":680,"wires":[["84873862.499c78","fa9363a5.0cf4c"]]},{"id":"7bf31382.f7f6dc","type":"http in","z":"53f80731.c7e808","name":"clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":120,"y":540,"wires":[["520b5005.b71be","afc5b40d.fa46f8"]]}]