check 2 溫濕度讀取.txt
[{"id":"a43b2f6.4726fd","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3781a05c.0fe52","type":"inject","z":"a43b2f6.4726fd","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":180,"wires":[["a09a52d3.15066"]]},{"id":"a09a52d3.15066","type":"function","z":"a43b2f6.4726fd","name":"payload","func":"msg.headers={\n    deviceKey: \"JdtVfxI6tsrUrsH1\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["a4008277.1364"]]},{"id":"a4008277.1364","type":"http request","z":"a43b2f6.4726fd","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DKd1AJBS/datachannels/Temperature/datapoints.csv","tls":"","x":610,"y":280,"wires":[["75a991b9.0d922","39e1c9ee.cc2e06"]]},{"id":"39e1c9ee.cc2e06","type":"http response","z":"a43b2f6.4726fd","name":"","statusCode":"","headers":{},"x":800,"y":300,"wires":[]},{"id":"75a991b9.0d922","type":"debug","z":"a43b2f6.4726fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":380,"wires":[]}]