check 1 button LED.txt
[{"id":"63990e1d.0deb3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9dafbd.06dbd04","type":"rpi-gpio in","z":"63990e1d.0deb3","name":"button","pin":"7","intype":"up","debounce":"25","read":false,"x":180,"y":200,"wires":[["82e2deea.442b5","f0f80910.027278"]]},{"id":"82e2deea.442b5","type":"switch","z":"63990e1d.0deb3","name":"input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":220,"wires":[["ab2413d4.c4287"],["2c37ff7c.0e68c"]]},{"id":"ab2413d4.c4287","type":"change","z":"63990e1d.0deb3","name":"chang to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":180,"wires":[["bb1d28b5.c9c058"]]},{"id":"2c37ff7c.0e68c","type":"change","z":"63990e1d.0deb3","name":"chang to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":280,"wires":[["bb1d28b5.c9c058"]]},{"id":"bb1d28b5.c9c058","type":"rpi-gpio out","z":"63990e1d.0deb3","name":"LED","pin":"11","set":"","level":"0","freq":"","out":"out","x":780,"y":260,"wires":[]},{"id":"f0f80910.027278","type":"debug","z":"63990e1d.0deb3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":140,"wires":[]}]