check 4可讀取開關狀態.txt
[{"id":"25bee91c.0a26d6","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"cd796f6f.50a5f","type":"http in","z":"25bee91c.0a26d6","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":110,"y":260,"wires":[["96f07430.54b7d8"]]},{"id":"a8f1319d.494a","type":"rpi-gpio in","z":"25bee91c.0a26d6","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":170,"y":380,"wires":[["145751cb.71349e"]]},{"id":"145751cb.71349e","type":"function","z":"25bee91c.0a26d6","name":"Set GPIO","func":"global.set(\"GPIO\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":360,"wires":[["8c1bd569.1d2d18"]]},{"id":"96f07430.54b7d8","type":"function","z":"25bee91c.0a26d6","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["8c1bd569.1d2d18","a212f94b.384c28"]]},{"id":"a212f94b.384c28","type":"http response","z":"25bee91c.0a26d6","name":"","statusCode":"","headers":{},"x":680,"y":300,"wires":[]},{"id":"8c1bd569.1d2d18","type":"debug","z":"25bee91c.0a26d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":380,"wires":[]}]