check 3 Node-Red 同時設定溫濕度感應器之數值.txt
[{"id":"21239dd.9be5962","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"bcedc9a1.ac7bb8","type":"inject","z":"21239dd.9be5962","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":170,"y":180,"wires":[["bf1540fe.4c8f"]]},{"id":"bf1540fe.4c8f","type":"function","z":"21239dd.9be5962","name":"payload","func":"msg.headers={\n    deviceKey:\"JdtVfxI6tsrUrsH1\"\n};\nmsg.payload=\"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["40d49bfb.3e67e4"]]},{"id":"66d60244.7fb7ec","type":"http response","z":"21239dd.9be5962","name":"","statusCode":"","headers":{},"x":730,"y":240,"wires":[]},{"id":"40d49bfb.3e67e4","type":"http request","z":"21239dd.9be5962","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DKd1AJBS/datapoints.csv","tls":"","x":540,"y":240,"wires":[["66d60244.7fb7ec","bc5aa191.f2961"]]},{"id":"bc5aa191.f2961","type":"debug","z":"21239dd.9be5962","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":340,"wires":[]}]